<div class="jumbotron">
        <h1>Create an online form in seconds!</h1>
        <p class="lead">angularjs-form-builder is an Online AngularJS Form Builder tool that lets you create online forms. Build interactive forms just in secs.</p>
        <a class="btn btn-large btn-success" href="#/forms/create">Start Building!</a>
    </div>

    <hr>
    <div class="row marketing">
        <div class="span9">
            <h4>Maecenas faucibus</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
    <div class="row marketing">
        <div class="span9">
            <h4>Morbi leo risus</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            <p></p>
        </div>
    </div>