<div class="accordion-edit" ng-show="editmode">
    <button class="btn btn-danger pull-right" type="button"><i class="icon-trash icon-white"></i> Delete</button>

    <div class="row">
        <div class="span2">Field ID: </div>
        <div class="span4">{{field.field_id}}</div>
    </div>
    <div class="row">
        <div class="span2">Field Type:</div>
        <div class="span4">{{field.field_type}}</div>
    </div>

    <div class="clear"></div> <hr>

    <div class="row">
        <div class="span2">Field Title:</div>
        <div class="span4"><input type="text" name="form-field-{{field.field_id}}" ng-model="field.field_title" value="{{field.field_title}}"></div>
    </div>
    <div class="row">
        <div class="span2">Field Name:</div>
        <div class="span4"><input type="text" name="form-field-{{field.field_id}}" ng-model="field.field_name" value="{{field.field_name}}"></div>
    </div>
    <div class="row">
        <div class="span2">Field Default Value:</div>
        <div class="span4"><input type="text" name="form-field-{{field.field_id}}" ng-model="field.field_value" value="{{field.field_value}}"></div>
    </div>
    <div class="row">
        <div class="span2">Field Order:</div>
        <div class="span4"><input type="text" name="form-field-{{field.field_id}}" ng-model="field.field_order" value="{{field.field_order}}"></div>
    </div>
</div>

<div ng-show="!editmode">
    <span>{{field.field_title}}</span>
    <input type="textfield" name="{{field.field_name}}" ng-model="field.field_value" value="{{field.field_value}}">
</div>