<h1>Create a new form</h1> <br>
<blockquote>
    <p>Select field type you want to add to the form below and click on 'Add Field' button. Don't forget to set field properties. You can also change field order by drag&drop(?).</p>
</blockquote>

<div class="well">
    <div class="form-properties">
    <h3>Form Properties</h3>
        <div class="row">
            <div class="span2">Form ID: </div>
            <div class="span4"><input type="text" name="form-id" ng-disabled="true" ng-model="form.form_id"></div>
        </div>
        <div class="row">
            <div class="span2">Form Name:</div>
            <div class="span4"><input type="text" name="form-name" ng-model="form.form_name"></div>
        </div>
    </div>

    <hr>

    <div class="form-fields">
        <h3>Fields</h3>
        <div class="add-field">
            <select ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
            <button type="submit" class="btn" ng-click="addNewField()"><i class="icon-plus"></i> Add Field</button>
        </div>
        <hr>
        <p ng-show="form.fields.length == 0">No fields added yet.</p>
        <accordion close-others="accordion.oneAtATime">
            <accordion-group heading="{{field.title}}" ng-repeat="field in accordion.fields">

                {{ field }}

                <div class="accordion-edit">
                    <button class="btn btn-danger pull-right" type="button"><i class="icon-trash icon-white"></i> Delete</button>

                    <div class="row">
                        <div class="span2">Field ID: </div>
                        <div class="span4">{{field.field_id}}</div>
                    </div>
                    <div class="row">
                        <div class="span2">Field Type:</div>
                        <div class="span4">{{field.field_type}}</div>
                    </div>

                    <div class="clear"></div> <hr>

                    <div class="row">
                        <div class="span2">Field Title:</div>
                        <div class="span4"><input type="text" ng-model="field.field_title" value="{{field.field_title}}"></div>
                    </div>
                    <div class="row">
                        <div class="span2">Field Name:</div>
                        <div class="span4"><input type="text" ng-model="field.field_name" value="{{field.field_name}}"></div>
                    </div>
                    <div class="row">
                        <div class="span2">Field Default Value:</div>
                        <div class="span4"><input type="text" ng-model="field.field_value" value="{{field.field_value}}"></div>
                    </div>
                    <div class="row">
                        <div class="span2">Field Order:</div>
                        <div class="span4"><input type="text" ng-model="field.field_order" value="{{field.field_order}}"></div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>

    <p class="text-center">
        <button class="btn btn-primary right" type="button" ng-click="preview()"><i class="icon-eye-open icon-white"></i> Preview Form</button>
        <button class="btn btn-danger right" type="button" ng-click="reset()"><i class="icon-refresh icon-white"></i> Reset</button>
    </p>
</div>