    <div class="jumbotron">
        <h1>Create an online form in seconds!</h1>
        <p class="lead">angularjs-form-builder is an Online AngularJS Form Builder tool that lets you create online forms. Build interactive forms just in secs.</p>
        <a class="btn btn-large btn-success" href="#/forms/create">Start Building!</a>
    </div>

    <hr>

    <div class="row marketing" style="text-align: center;">
            <iframe src="http://ghbtns.com/github-btn.html?user=selmanh&repo=angularjs-form-builder&type=watch&count=true&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=selmanh&repo=angularjs-form-builder&type=fork&count=true&size=large"
                                   allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=selmanh&type=follow&count=false&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="200" height="30"></iframe>
    </div>
